<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/css/Q4.css">

</head>

<footer>
    <div class="footer-content">
        <p>&copy; 2024 Pet Adoption House. All rights reserved.</p>
        <a href="#" onclick="showPrivacyDisclaimer()">Privacy/Disclaimer</a>
    </div>
</footer>

<script>
    function showPrivacyDisclaimer() {
        alert('Your information is safe with us, It will not be sold or misused.');
    }
</script>

</html>
