<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/css/Q4.css">

</head>

<body>
<div class="container">
    <nav class="side-menu">
        <nav class="navigation-bar">
            <ul>
                <li><a href="/" onclick="showSection('home')">Home Page</a></li>
                <!--
                <li><a href="/browse-pets" onclick="showSection('browse-pets')">Browse Available Pets</a></li>
                -->
                <li><a href="/find-pet" onclick="showSection('find-pet')">Find a Dog/Cat</a></li>
                <li><a href="/dog-care" onclick="showSection('dog-care')">Dog Care</a></li>
                <li><a href="/cat-care" onclick="showSection('cat-care')">Cat Care</a></li>
                <li><a href="/create-account" onclick="showSection('create-account')">Create Account</a></li>
                <!--
                <li><a href="/giveaway-pet" onclick="showSection('giveaway-pet')">Have a Pet to Give Away</a></li>
                -->
                <li><a href="/pet-giveaway-login" onclick="showSection('pet-giveaway-login')">Login to Giveaway Pet</a></li>
                <li><a href="/contact" onclick="showSection('contact')">Contact Us</a></li>

                <li><a href="/logout" onclick="showSection('logout')">Logout</a></li>

            </ul>
        </nav>
    </nav>

</div>

</body>
</html>