<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Care</title>
    <link rel="stylesheet" href="/css/Q4.css">
</head>

<body>

    <%- include ('partials/header') -%> 
    <div class="container">
        <%- include ('partials/sidemenu') -%>

    <section id="cat-care" class="content-section">
        
        <h2>Cat Care</h2>
            <br>
            <h4>How to Care for Your Cat</h4>
            <p>Caring for a cat involves several key aspects to ensure their well-being and happiness. Here are some essential tips:</p>
    
            <h4>Diet and Nutrition</h4>
            <p>Provide a balanced diet suited to your cat's age, health, and preferences. Ensure they have access to fresh water at all times.</p>
            <ul>
                <li><a href="https://www.vet.cornell.edu/departments-centers-and-institutes/cornell-feline-health-center/health-information/feline-health-topics/feeding-your-cat#:~:text=Cats%20are%20obligate%20carnivores%2C%20which,requires%20these%20general%20proportions%20today." 
                    target="_blank">Cornell Feline Helath Center: Feeding Your Cat</a></li>
            </ul>
    
            <h4>Exercise and physical health</h4>
            <p>Encourage physical activity through play and environmental enrichment. Provide toys, scratching posts, and climbing structures.</p>
            <ul>
                <li><a href="https://www.petmd.com/cat/general-health/tips-for-keeping-your-cat-exercised-and-mentally-stimulated" 
                    target="_blank">13 Tips for Keeping Your Cat Exercised and Mentally Stimulated</a></li>
            </ul>
    
            <h4>Grooming</h4>
            <p>Regular grooming helps keep your cat's coat clean and reduces shedding. Brush their fur, trim their nails, and check their ears.</p>
            <ul>
                <li><a href="https://www.aspca.org/pet-care/cat-care/cat-grooming-tips" target="_blank">Cat Grooming Tips</a></li>
            </ul>
    </section>

    </div>
    <%- include ('partials/footer') -%> 

</body>
</html>