<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="/css/Q4.css">
</head>

<body>

    <%- include ('partials/header') -%> 
    <div class="container">
        <%- include ('partials/sidemenu') -%>

    <section id="contact" class="content-section">
        <h2>Contact Us</h2>
        <br>
        <p>For any inquiries, please reach out to us at <a href="mailto:mhanini.contact@gmail.com">mhanini.contact@gmail.com</a>.</p>
        <p><b>Mehdi Hanini</b></p>
        <p>40248705 - Coop Student</p>
        <p>Concordia University - &copy 2024</p>
    </section>

    </div>
    <%- include ('partials/footer') -%> 


</body>
</html>